<h1 class="title features__title title_align_center">
	<img src="/assets/images/features__title.png" 
		 class="title_image" 
		 alt="Features">
</h1>
<article class="features__item">
	<h2 class="title title_size_features features__name">
		Event or item to promote
	</h2>
	<p class="paragraph features__paragraph">
		Lorem ipsum... A really great insight on why someone should
		consider a particular thing or event. Insert personal experience
		with thing or event. One quick last word or thought.
	</p>
	<p class="paragraph features__paragraph">
		Lorem ipsum... A cool insight on why someone should definitely
		consider this particular thing or event. Another quick thought.
		Restate some prior important details. Make a call to action for
		this particular thing or event.
	</p>
</article>
<article class="features__item">
	<h2 class="title title_size_features features__name">
		Event or item to promote
	</h2>
	<p class="paragraph features__paragraph">
		Lorem ipsum... A really great insight on why someone should
		consider a particular thing or event. Insert personal experience
		with thing or event. One quick last word or thought.
	</p>
	<p class="paragraph features__paragraph">
		Lorem ipsum... A cool insight on why someone should definitely
		consider this particular thing or event. Another quick thought.
		Restate some prior important details. Make a call to action for
		this particular thing or event.
	</p>
</article>
<article class="features__item">
	<h2 class="title title_size_features features__name">
		Event or item to promote
	</h2>
	<p class="paragraph features__paragraph">
		Lorem ipsum... A really great insight on why someone should
		consider a particular thing or event. Insert personal experience
		with thing or event. One quick last word or thought.
	</p>
	<p class="paragraph features__paragraph">
		Lorem ipsum... A cool insight on why someone should definitely
		consider this particular thing or event. Another quick thought.
		Restate some prior important details. Make a call to action for
		this particular thing or event.
	</p>
</article>