	<h1 class="title title_size_page featured__title">
		Big Heading for Featured Section
	</h1>
	<article class="featured__item">
		<h2 class="title title_size_featured featured__name">
			Event or item to promote
		</h2>
		<p class="paragraph featured__paragraph">
			Lorem ipsum... A really great insight on why someone should
			consider a particular thing or event. Insert personal experience
			with thing or event. One quick last word or thought.
		</p>
		<p class="paragraph featured__paragraph">
			Lorem ipsum... A cool insight on why someone should definitely
			consider this particular thing or event. Another quick thought.
			Restate some prior important details. Make a call to action for
			this particular thing or event.
		</p>
	</article>
	<article class="featured__item">
		<h2 class="title title_size_featured featured__name">
			Event or item to promote
		</h2>
		<p class="paragraph featured__paragraph">
			Lorem ipsum... A really great insight on why someone should
			consider a particular thing or event. Insert personal experience
			with thing or event. One quick last word or thought.
		</p>
		<p class="paragraph featured__paragraph">
			Lorem ipsum... A cool insight on why someone should definitely
			consider this particular thing or event. Another quick thought.
			Restate some prior important details. Make a call to action for
			this particular thing or event.
		</p>
	</article>
	<article class="featured__item">
		<h2 class="title title_size_featured featured__name">
			Event or item to promote
		</h2>
		<p class="paragraph featured__paragraph">
			Lorem ipsum... A really great insight on why someone should
			consider a particular thing or event. Insert personal experience
			with thing or event. One quick last word or thought.
		</p>
		<p class="paragraph featured__paragraph">
			Lorem ipsum... A cool insight on why someone should definitely
			consider this particular thing or event. Another quick thought.
			Restate some prior important details. Make a call to action for
			this particular thing or event.
		</p>
	</article>