<section class="footer__address">
  <a href="https://goo.gl/maps/DxfHLb6Gms32" class="link link_maps" rel="noreferrer noopener" target="_blank" title="Open address in Google Maps">
    <img class="logo_info" src="/assets/images/logo_info.png" alt="171 North Centre Street, Cumberland, Maryland, 21502">
  </a>
</section>
<section class="footer__socials">
  <a href="https://www.facebook.com/cornertavernandcafe/" 
     class="footer__social link link_facebook" 
     rel="noreferrer noopener" 
     target="_blank" 
     title="Corner Tavern & Cafe's Facebook">
    <img class="logo_facebook" src="/assets/images/logo_facebook.png" alt="cornertavernandcafe">
  </a>
  <a href="https://www.instagram.com/thecornertaverncumberland/" 
     class="footer__social link link_instagram" 
     rel="noreferrer noopener" 
     target="_blank" 
     title="Corner Tavern & Cafe's Instagram">
    <img class="logo_instagram" src="/assets/images/logo_instagram.png" alt="thecornertaverncumberland">
  </a>
</section>