	<h1 class="title title_size_page info__title">
		Big Title for Info Section
	</h1>
	<article class="info__about">
		<div class="info__paragraphs">
			<p class="paragraph paragraph_roomy info__paragraph">
				<span class="paragraph_fancy">The Corner Tavern &
				Cafe</span> is nestled in the <span
				class="paragraph_no-break">100 block</span> of N. Centre
				Street 
				<span class="paragraph_no-break">downtown Cumberland</span> 				next to picturesque 
				<span class="paragraph_no-break">St. Patrick's</span> church.
			</p>
			<p class="paragraph paragraph_roomy info__paragraph">
				The iconic <span class="paragraph_fancy">Corner
				Tavern</span> neon sign welcomes you into the most
				exciting and unexpected new spot in town. <br>Enjoy
				local coffees, craft cocktails, and microbrews along
				with tasty light fare which includes gluten-free and
				vegetarian options.
			</p>
			<p class="paragraph paragraph_roomy info__paragraph">
				<span class="paragraph_fancy">The Corner Tavern</span>
				has just what you need for breakfast, lunch, happy hour,
				and late night—<br>come on over to your new favorite spot...
			</p>
		</div>
		<img class="logo_name info__bam-logo" src="/assets/images/logo_name.png" alt="">
	</article>
	<aside class="info__map info__map_placeholder">
	</aside>
	<aside class="info__administration">
		<p class="info__phone">
			<span class="info__phone-label">Phone: </span>
			<a href="tel:1-240-362-7534" class="link info__phone-number">(240) 362-7534</a>
		</p>
		<h3 class="info__hours-label">
			Hours
		</h3>
		<ul class="hours info__hours">
			<li class="hours__line">
				<span class="hours__day">Sun: </span>
				<span class="hours__times">8:00am-3:00pm</span>
			</li>
			<li class="hours__line">
				<span class="hours__day">Mon: </span>
				<span class="hours__times">7:00am-4:00pm</span>
			</li>
			<li class="hours__line">
				<span class="hours__day">Tue: </span>
				<span class="hours__times">7:00am-10:00pm</span>
			</li>
			<li class="hours__line">
				<span class="hours__day">Wed: </span>
				<span class="hours__times">7:00am-10:00pm</span>
			</li>
			<li class="hours__line">
				<span class="hours__day">Thu: </span>
				<span class="hours__times">7:00am-10:00pm</span>
			</li>
			<li class="hours__line">
				<span class="hours__day">Fri: </span>
				<span class="hours__times">8:00am-12:00am</span>
			</li>
			<li class="hours__line">
				<span class="hours__day">Sat: </span>
				<span class="hours__times">8:00am-12:00am</span>
			</li>
		</ul>
	</aside>
