	<section class="menu__collection">
		<div class="menu__heading menu__morning-things">
			<img src="/assets/images/menu__morning-things.png"
			     class="menu__title_image"
			     alt="Morning Things">
		</div>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Avocado toast
				</h3>
				<p class="item__description">
					+ hard boiled egg 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					4<span class="item__price_cents">.00</span>
				</p>
				<p class="item__price_upgrade">
					+ 1<span class="item__price_cents">.00</span>
				</p>		
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Bagels 
				</h3>
				<p class="item__description">
					w/ cream cheese, butter, or hummus 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					3<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<!-- Breakfast Sandwiches -->
		<section class="menu__collection menu__collection_border_round-rect" id="breakfast">
			<div class="menu__heading menu__breakfast-sandwiches">
				<img src="/assets/images/menu__breakfast-sandwiches.png"
				     class="menu__title_image"
				     alt="Breakfast Sandwiches">
			</div>
			<article class="item menu__item">
				<div class="item__info">
					<h3 class="item__name">
						egg & cheese 
					</h3>
					<p class="item__description">
						+ sausage, tempeh, or bacon 
					</p>
				</div>
				<div class="item__pricing">
					<p class="item__price">
						5<span class="item__price_cents">.00</span> 
					</p>
					<p class="item__price_upgrade">
						+ 1<span class="item__price_cents">.00</span> 
					</p>
				</div>
			</article>
		</section>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Veggie Bagel 
				</h3>
				<p class="item__description">
					cream cheese or hummus, spinach, avocado, bell pepper, cucumber, tomato, sprouts 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					6<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					breakfast burrito 
				</h3>
				<p class="item__description">
					egg, chorizo, cheddar, house pico, roasted peppers 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					6<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<!-- Breakfast Paninis -->
		<section class="menu__collection menu__collection_border_round-rect">
			<div class="menu__heading menu__breakfast-paninis">
				<img src="/assets/images/menu__breakfast-paninis.png"
				     class="menu__title_image"
				     alt="Breakfast Paninis">
			</div>
			<article class="item menu__item">
				<div class="item__info">
					<p class="item__description">
						Egg, mozzarella, roasted pepper, creamy pesto 
					</p>
				</div>
				<div class="item__pricing">
					<p class="item__price">
						5<span class="item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item">
				<div class="item__info">
					<p class="item__description">
						Bacon, egg, cheddar, spinach, tomato, chipotle mayo 
					</p>
				</div>
				<div class="item__pricing">
					<p class="item__price">
						6<span class="item__price_cents">.00</span> 
					</p>
				</div>
			</article>
		</section>
	</section>
	<section class="menu__collection" id="daytime">
		<div class="menu__heading menu__daytime-things">
			<img src="/assets/images/menu__daytime-things.png"
			     class="menu__title_image"
			     alt="Daytime Things">
		</div>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					tavern toasts 
				</h3>
				<p class="item__description">
					avocado • bruschetta • olive tapenade • pimento cheese 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					4<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Pretzel Knots 
				</h3>
				<p class="item__description">
					pimento beer cheese 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					3<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Hummus plate 
				</h3>
				<p class="item__description">
					celery, cucumber, peppers, pita, cheese 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					6<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					veggie flatbread 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					5<span class="item__price_cents">.00</span><span class="item__price_portion">half</span>/9<span class="item__price_cents">.00</span><span class="item__price_portion">whole</span> 
				</p>
			</div>
		</article>
		<!-- Paninis -->
		<section class="menu__collection menu__collection_border_top">
			<div class="menu__heading menu__paninis">
				<img src="/assets/images/menu__paninis.png"
				     class="menu__title_image"
				     alt="Paninis">
			</div>
			<article class="item menu__item">
				<div class="item__info">
					<h3 class="item__name">
						TAVERN CHeesY 
					</h3>
					<p class="item__description">
						cheddar, mozzarella, pesto, tomato 
					</p>
				</div>
				<div class="item__pricing">
					<p class="item__price">
						6<span class="item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item">
				<div class="item__info">
					<h3 class="item__name">
						Roast beef 
					</h3>
					<p class="item__description">
						swiss, caramelized onion, horseradish mayo 
					</p>
				</div>
				<div class="item__pricing">
					<p class="item__price">
						8<span class="item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item">
				<div class="item__info">
					<h3 class="item__name">
						Tuna melt 
					</h3>
					<p class="item__description">
						w/ melted swiss 
					</p>
				</div>
				<div class="item__pricing">
					<p class="item__price">
						7<span class="item__price_cents">.00</span> 
					</p>
				</div>
			</article>
		</section>
		<!-- WRAPS -->
		<section class="menu__collection menu__collection_border_top">
      <div class="menu__heading menu__wraps">
				<img src="/assets/images/menu__wraps.png"
				     class="menu__title_image"
				     alt="Wraps">
			</div>		
			<article class="item menu__item">
				<div class="item__info">
					<h3 class="item__name">
						Tavern club 
					</h3>
					<p class="item__description">
						turkey, bacon, spinach, tomato, avocado, chipotle mayo, cheddar 
					</p>
				</div>
				<div class="item__pricing">
					<p class="item__price">
						8<span class="item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item">
				<div class="item__info">
					<h3 class="item__name">
						spicy tuna salad 
					</h3>
					<p class="item__description">
						tuna, swiss, sprouts, tomato, relish, spinach, chipotle mayo, hot pepper 
					</p>
				</div>
				<div class="item__pricing">
					<p class="item__price">
						8<span class="item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item">
				<div class="item__info">
					<h3 class="item__name">
						Veggie 
					</h3>
					<p class="item__description">
						hummus, spinach, tomato, feta, cucumber, bell pepper, sprouts 
					</p>
				</div>
				<div class="item__pricing">
					<p class="item__price">
						7<span class="item__price_cents">.00</span> 
					</p>
				</div>
			</article>
		</section>
		<!-- Salads -->
		<section class="menu__collection menu__collection_border_top">
			<div class="menu__heading menu__salads">
				<img src="/assets/images/menu__salads.png"
				     class="menu__title_image"
				     alt="Salads">
			</div>
			<article class="item menu__item">
				<div class="item__info">
					<h3 class="item__name">
						TAVERN salad 
					</h3>
					<p class="item__description">
						hard boiled egg, bacon, tomato, avocado, cheddar, spinach 
					</p>
				</div>
				<div class="item__pricing">
					<p class="item__price">
						9<span class="item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item">
				<div class="item__info">
					<h3 class="item__name">
						greek salad 
					</h3>
					<p class="item__description">
						tzatziki, feta, cherry tomato, cucumber, hummus, kale 
					</p>
				</div>
				<div class="item__pricing">
					<p class="item__price">
						9<span class="item__price_cents">.00</span> 
					</p>
				</div>
			</article>
		</section>
	</section>
	<!-- Signature Cocktails -->
	<section class="menu__collection" id="signatureCocktails">
		<div class="menu__heading menu__signature-cocktails">
			<img src="/assets/images/menu__signature-cocktails.png"
				 class="menu__title_image"
				 alt="Signature Cocktails">
		</div>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Off-The-Mall Old Fashioned 
				</h3>
				<p class="item__description">
					Dad’s Hat Rye, bitters, sugar, muddled orange & cherry 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					9<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Ginny Ginger 
				</h3>
				<p class="item__description">
					Copper & Kings Gin, Nettle Patch bitters, fresh ginger syrup, lime, soda 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					8<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					midtown manhattan 
				</h3>
				<p class="item__description">
					Dad’s Hat Rye, Vermut Lacuesta, Angostura bitter, dark cherry 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					9<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Rosemary Sour 
				</h3>
				<p class="item__description">
					Corner Creek bourbon, muddled rosemary, lemon, sugar, egg white (optional) 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					7<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Basecamp Espresso Martini 
				</h3>
				<p class="item__description">
					Basecamp espresso, Rock Town vodka, coffee liquer, simple syrup 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					9<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					centre street saz 
				</h3>
				<p class="item__description">
					Cognac, Peychauds, sugar, absinthe rinse 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					10<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<section class="menu__collection" id="signatureCocktailsHot">
			<div class="menu__heading menu__signature-cocktails-hot">
				<img src="/assets/images/menu__signature-cocktails-hot.png"
				     class="menu__title_image"
				     alt="Hot Signature Cocktails">
			</div>
			<!-- Hot -->
			<article class="item menu__item">
				<div class="item__info">
					<h3 class="item__name">
						Honey Rum Chai 
					</h3>
					<p class="item__description">
						Dogfish Head honey rum, hot chai tea, steamed milk 
					</p>
				</div>
				<div class="item__pricing">
					<p class="item__price">
						8<span class="item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item">
				<div class="item__info">
					<h3 class="item__name">
						Corner Irish Coffee 
					</h3>
					<p class="item__description">
						HellCat Maggie, Basecamp coffee, brown sugar, Guiness infused whipped cream 
					</p>
				</div>
				<div class="item__pricing">
					<p class="item__price">
						8<span class="item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item">
				<div class="item__info">
					<h3 class="item__name">
						Tavern Toddy 
					</h3>
					<p class="item__description">
						bourbon, honey, Ginger Tulsi tea, lemon 
					</p>
				</div>
				<div class="item__pricing">
					<p class="item__price">
						8<span class="item__price_cents">.00</span> 
					</p>
				</div>
			</article>
		</section>
	</section>
	<!-- Featured Spirits -->
	<section class="menu__collection" id="spirits">
		<div class="menu__heading menu__featured-spirits">
			<img src="/assets/images/menu__featured-spirits.png"
				 class="menu__title_image"
				 alt="Featured Spirits">
		</div>
		<!-- Whiskey -->
		<section class="menu__collection">
			<div class="menu__heading menu__whiskey">
				<img src="/assets/images/menu__whiskey.png"
				     class="menu__title_image"
				     alt="Whiskey">
			</div>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						Willet Family Estate Rye 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						13<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						Willet Potstill 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						11<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						Noah’s Mill Bourbon 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						10<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						Rowan’s Creek Bourbon 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						8<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						Dad’s Hat 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						7<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						Knob Creek Bourbon 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						7<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						Corner Creek 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						6<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						Old Forrester 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						5<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
		</section>
		<!-- Scotch -->
		<section class="menu__collection menu__collection_border_top">
			<div class="menu__heading menu__scotch">
				<img src="/assets/images/menu__scotch.png"
				     class="menu__title_image"
				     alt="Scotch">
			</div>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						Oban 14-year 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						12<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						Macallan 10-Year 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						10<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						Glenfiddich 12-Year 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						8<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
		</section>
		<!-- Gin -->
		<section class="menu__collection menu__collection_border_top">
			<div class="menu__heading menu__gin">
				<img src="/assets/images/menu__gin.png"
				     class="menu__title_image"
				     alt="Gin">
			</div>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						Copper & Kings Old Tom 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						8<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						Hendrick’s 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						8<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						McClintock Forager 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						7<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						Gordon’s 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						5<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
		</section>
		<!-- vodka -->
		<section class="menu__collection menu__collection_border_top">
			<div class="menu__heading menu__vodka">
				<img src="/assets/images/menu__vodka.png"
				     class="menu__title_image"
				     alt="Vodka">
			</div>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						McClintock Epiphany 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						8<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						Tito’s 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						6<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
			<article class="item menu__item menu__item_spacing_tight">
				<div class="item__info">
					<h3 class="item__name item__name_size_small">
						Rocktown 
					</h3>
				</div>
				<div class="item__pricing">
					<p class="item__price item__price_size_small">
						5<span class="item__price item__price_cents">.00</span> 
					</p>
				</div>
			</article>
		</section>
	</section>