<section class="menu__collection">
	<div class="menu__heading">
		<h2 class="menu__header">
			Morning Things
		</h2>
	</div>
	<article class="item menu__item">
		<div class="item__info">
			<h3 class="item__name">
				Avocado toast
			</h3>
			<p class="item__description">
				+ hard boiled egg 
			</p>
		</div>
		<div class="item__pricing">
			<p class="item__price">
				4<span class="item__price_cents">.00</span>
			</p>
			<p class="item__price_upgrade">
				+ 1<span class="item__price_cents">.00</span>
			</p>		
		</div>
	</article>
	<article class="item menu__item">
		<div class="item__info">
			<h3 class="item__name">
				Bagels 
			</h3>
			<p class="item__description">
				w/ cream cheese, butter, or hummus 
			</p>
		</div>
		<div class="item__pricing">
			<p class="item__price">
				3<span class="item__price_cents">.00</span> 
			</p>
		</div>
	</article>
	<!-- Breakfast Sandwiches --!>
	<section class="menu__collection">
		<div class="menu__heading">
			<h2 class="menu__header">
				Breakfast Sandwiches
			</h2>
		</div>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					egg & cheese 
				</h3>
				<p class="item__description">
					+ sausage, tempeh, or bacon 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					5<span class="item__price_cents">.00</span> 
				</p>
				<p class="item__price_upgrade">
					+ 1<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
	</section>
	<article class="item menu__item">
		<div class="item__info">
			<h3 class="item__name">
				Veggie Bagel 
			</h3>
			<p class="item__description">
				cream cheese or hummus, spinach, avocado, bell pepper, cucumber, tomato, sprouts 
			</p>
		</div>
		<div class="item__pricing">
			<p class="item__price">
				6<span class="item__price_cents">.00</span> 
			</p>
		</div>
	</article>
	<article class="item menu__item">
		<div class="item__info">
			<h3 class="item__name">
				breakfast burrito 
			</h3>
			<p class="item__description">
				egg, chorizo, cheddar, house pico, roasted peppers 
			</p>
		</div>
		<div class="item__pricing">
			<p class="item__price">
				6<span class="item__price_cents">.00</span> 
			</p>
		</div>
	</article>
	<!-- Breakfast Paninis -->
	<section class="menu__collection">
		<article class="item menu__item">
			<div class="item__info">
				<p class="item__description">
					Egg, mozzarella, roasted pepper, creamy pesto 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					5<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<p class="item__description">
					Bacon, egg, cheddar, spinach, tomato, chipotle mayo 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					6<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
	</section>
</section>
<section class="menu__collection">
	<!-- Daytime Things -->
	<article class="item menu__item">
		<div class="item__info">
			<h3 class="item__name">
				tavern toasts 
			</h3>
			<p class="item__description">
				avocado • bruschetta • olive tapenade • pimento cheese 
			</p>
		</div>
		<div class="item__pricing">
			<p class="item__price">
				4<span class="item__price_cents">.00</span> 
			</p><p class="item__price">
				4<span class="item__price_cents">.00</span> 
			</p>
		</div>
	</article>
	<article class="item menu__item">
		<div class="item__info">
			<h3 class="item__name">
				Pretzel Knots 
			</h3>
			<p class="item__description">
				pimento beer cheese 
			</p>
		</div>
		<div class="item__pricing">
			<p class="item__price">
				3<span class="item__price_cents">.00</span> 
			</p>
		</div>
	</article>
	<article class="item menu__item">
		<div class="item__info">
			<h3 class="item__name">
				Hummus plate 
			</h3>
			<p class="item__description">
				celery, cucumber, peppers, pita, cheese 
			</p>
		</div>
		<div class="item__pricing">
			<p class="item__price">
				6<span class="item__price_cents">.00</span> 
			</p>
		</div>
	</article>
	<article class="item menu__item">
		<div class="item__info">
			<h3 class="item__name">
				veggie flatbread 
			</h3>
		</div>
		<div class="item__pricing">
			<p class="item__price">
				5<span class="item__price_cents">.00</span><span class="item__price_portion">half</span>/9<span class="item__price_cents">.00</span><span class="item__price_portion">whole</span> 
			</p>
		</div>
	</article>
	<!-- Paninis -->
	<section class="menu__collection">
		<div class="menu__heading">
			<h2 class="menu__header">
				Paninis
			</h2>
		</div>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					TAVERN CHeesY 
				</h3>
				<p class="item__description">
					cheddar, mozzarella, pesto, tomato 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					6<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Roast beef 
				</h3>
				<p class="item__description">
					swiss, caramelized onion, horseradish mayo 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					8<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Tuna melt 
				</h3>
				<p class="item__description">
					w/ melted swiss 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					7<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
	</section>
	<!-- WRAPS -->
	<section class="menu__collection">
		<div class="menu__heading">
			<h2 class="menu__header">
				Wraps
			</h2>
		</div>		
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Tavern club 
				</h3>
				<p class="item__description">
					turkey, bacon, spinach, tomato, avocado, chipotle mayo, cheddar 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					8<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					spicy tuna salad 
				</h3>
				<p class="item__description">
					tuna, swiss, sprouts, tomato, relish, spinach, chipotle mayo, hot pepper 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					8<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Veggie 
				</h3>
				<p class="item__description">
					hummus, spinach, tomato, feta, cucumber, bell pepper, sprouts 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					7<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
	</section>
	<!-- Salads -->
	<section class="menu__collection">
		<div class="menu__heading">
			<h2 class="menu__header">
				Salads
			</h2>
		</div>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					TAVERN salad 
				</h3>
				<p class="item__description">
					hard boiled egg, bacon, tomato, avocado, cheddar, spinach 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					9<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					greek salad 
				</h3>
				<p class="item__description">
					tzatziki, feta, cherry tomato, cucumber, hummus, kale 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					9<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
	</section>
</section>
<!-- Signature Cocktails -->
<section class="menu__collection">
	<div class="menu__heading">
		<h2 class="menu__header">
			Signature Cocktails
		</h2>
	</div>
	<article class="item menu__item">
		<div class="item__info">
			<h3 class="item__name">
				Off-The-Mall Old Fashioned 
			</h3>
			<p class="item__description">
				Dad’s Hat Rye, bitters, sugar, muddled orange & cherry 
			</p>
		</div>
		<div class="item__pricing">
			<p class="item__price">
				9<span class="item__price_cents">.00</span> 
			</p>
		</div>
	</article>
	<article class="item menu__item">
		<div class="item__info">
			<h3 class="item__name">
				Ginny Ginger 
			</h3>
			<p class="item__description">
				Copper & Kings Gin, Nettle Patch bitters, fresh ginger syrup, lime, soda 
			</p>
		</div>
		<div class="item__pricing">
			<p class="item__price">
				8<span class="item__price_cents">.00</span> 
			</p>
		</div>
	</article>
	<article class="item menu__item">
		<div class="item__info">
			<h3 class="item__name">
				midtown manhattan 
			</h3>
			<p class="item__description">
				Dad’s Hat Rye, Vermut Lacuesta, Angostura bitter, dark cherry 
			</p>
		</div>
		<div class="item__pricing">
			<p class="item__price">
				9<span class="item__price_cents">.00</span> 
			</p>
		</div>
	</article>
	<article class="item menu__item">
		<div class="item__info">
			<h3 class="item__name">
				Rosemary Sour 
			</h3>
			<p class="item__description">
				Corner Creek bourbon, muddled rosemary, lemon, sugar, egg white (optional) 
			</p>
		</div>
		<div class="item__pricing">
			<p class="item__price">
				7<span class="item__price_cents">.00</span> 
			</p>
		</div>
	</article>
	<article class="item menu__item">
		<div class="item__info">
			<h3 class="item__name">
				Basecamp Espresso Martini 
			</h3>
			<p class="item__description">
				Basecamp espresso, Rock Town vodka, coffee liquer, simple syrup 
			</p>
		</div>
		<div class="item__pricing">
			<p class="item__price">
				9<span class="item__price_cents">.00</span> 
			</p>
		</div>
	</article>
	<article class="item menu__item">
		<div class="item__info">
			<h3 class="item__name">
				centre street saz 
			</h3>
			<p class="item__description">
				Cognac, Peychauds, sugar, absinthe rinse 
			</p>
		</div>
		<div class="item__pricing">
			<p class="item__price">
				10<span class="item__price_cents">.00</span> 
			</p>
		</div>
	</article>
	<section class="menu__collection">
		<div class="menu__heading">
			<h2 class="menu__header">
				Hot
			</h2>
		</div>
		<!-- Hot -->
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Honey Rum Chai 
				</h3>
				<p class="item__description">
					Dogfish Head honey rum, hot chai tea, steamed milk 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					8<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Corner Irish Coffee 
				</h3>
				<p class="item__description">
					HellCat Maggie, Basecamp coffee, brown sugar, Guiness infused whipped cream 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					8<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Tavern Toddy 
				</h3>
				<p class="item__description">
					bourbon, honey, Ginger Tulsi tea, lemon 
				</p>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					8<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
	</section>
</section>
<!-- Featured Spirits -->
<section class="menu__collection">
	<div class="menu__heading">
		<h2 class="menu__header">
			Featured Spirits
		</h2>
	</div>
	<!-- Whiskey -->
	<section class="menu__collection">
		<div class="menu__heading">
			<h2 class="menu__header">
				Whiskey
			</h2>
		</div>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Willet Family Estate Rye 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					13<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Willet Potstill 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					11<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Noah’s Mill Bourbon 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					10<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Rowan’s Creek Bourbon 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					8<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Dad’s Hat 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					7<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Knob Creek Bourbon 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					7<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Corner Creek 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					6<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Old Forrester 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					5<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
	</section>
	<!-- Scotch -->
	<section class="menu__collection">
		<div class="menu__heading">
			<h2 class="menu__header">
				Scotch
			</h2>
		</div>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Oban 14-year 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					12<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Macallan 10-Year 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					10<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Glenfiddich 12-Year 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					8<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
	</section>
	<!-- Gin -->
	<section class="menu__collection">
		<div class="menu__heading">
			<h2 class="menu__header">
				Gin
			</h2>
		</div>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Copper & Kings Old Tom 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					8<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Hendrick’s 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					8<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					McClintock Forager 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					7<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Gordon’s 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					5<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
	</section>
	<!-- vodka -->
	<section class="menu__collection">
		<div class="menu__heading">
			<h2 class="menu__header">
				Vodka
			</h2>
		</div>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					McClintock Epiphany 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					8<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Tito’s 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					6<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
		<article class="item menu__item">
			<div class="item__info">
				<h3 class="item__name">
					Rocktown 
				</h3>
			</div>
			<div class="item__pricing">
				<p class="item__price">
					5<span class="item__price_cents">.00</span> 
				</p>
			</div>
		</article>
	</section>
</section>
