	<h2 class="title www__title">
    <img src="/assets/images/www__title_monday.png" 
       class="title_image" 
       alt="Monday's Winter Whiskey Week Featured Distillery">
	</h2>
	<h3 class="www__distillery">    
    <img src="/assets/images/www__distillery_sagamore.png" 
       class="title_image" 
       alt="Sagamore Spirit. Established 1909">
  </h3>
  <p class="paragraph www__headquarters">
    (Baltimore, MD)
  </p>
	<p class="paragraph www__bio">
    The story starts at a spring house, built in 1909, at Maryland's
    Sagamore Farm. Naturally filtered spring water fed from a limestone
    aquifer cuts the rich spice of our rye, creating a spirit as
    revolutionary as America's risk-takers and history-makers
	</p>
	<div class="www__product">
    <h4 class="item__name www__name">
      Rye
    </h4>
    <p class="item__description www__description">
      Sagamores's flagship spirit
    </p>
  </div>
	<div class="www__product">
    <h4 class="item__name www__name">
      Port Finish Rye
    </h4>
    <p class="item__description www__description">
      Rye aged 6 additional months in port casks
    </p>
  </div>
	<div class="www__product">
    <h4 class="item__name www__name">
      Cask Strength Rye
    </h4>
    <p class="item__description www__description">
      Double Gold Medal, San Francisco World Spirits Competition
    </p>
  </div>