	<h2 class="title www__title">
    <img src="/assets/images/www__title_2019-02-07-friday.png" 
       class="title_image" 
       alt="Friday's Winter Whiskey Week Featured Distillery">
	</h2>
	<h3 class="www__distillery">    
    <a href="https://dadshatrye.com/" 
        class="link link_www-distillery" 
        rel="noreferrer noopener" 
        target="_blank" 
        title="Dad's Hat's website'">
      <img src="/assets/images/www__distillery_2019-02-07-dads-hat.png" 
         class="title_image" 
         alt="Dad's Hat. Pennsylvania Rye Whiskey'">
    </a>
  </h3>
  <p class="paragraph www__headquarters">
    Mountain Laurel Spirits (Bristol, PA)
  </p>
	<p class="paragraph www__bio">
    Dad’s Hat Founder, Herman Mihalich named the brand after his father,
    who always wore one of his many Philadelphia-made Stetson fedoras.
    The grain-to-bottle distillery brings back the tradition of PA
    farmers using their surplus rye and grain for whiskey. As stated in
    their mission, they strive to source and create sustainable
    relationships with the farms local to the distillery.
	</p>
	<div class="www__product">
    <h4 class="item__name www__name">
      Pennsylvania Rye
    </h4>
    <p class="item__description www__description">
      Award Winning Flagship Whiskey American<br>Distilling Institute
      Silver Medal 2013<br>Silver Medal San Francisco World Spirits
      Competition
    </p>
  </div>
	<div class="www__product">
    <h4 class="item__name www__name">
      Vermouth Cask
    </h4>
  </div>
	<div class="www__product">
    <h4 class="item__name www__name">
      Cask Strength
    </h4>
  </div>
