	<h2 class="title www__title">
    <img src="/assets/images/www__title_2019-02-04-tuesday.png" 
       class="title_image" 
       alt="Tuesday's Winter Whiskey Week Featured Distillery">
	</h2>
	<h3 class="www__distillery">    
	  <a href="hthttp://www.fewspirits.com/" 
	        class="link link_www-distillery" 
	        rel="noreferrer noopener" 
	        target="_blank" 
	        title="FEW Spirits's website'">  
      <img src="/assets/images/www__distillery_2019-02-04-few.png" 
         class="title_image" 
         alt="FEW Spirits">
    </a>
  </h3>
  <p class="paragraph www__headquarters">
    (Evanston, IL)
  </p>
	<p class="paragraph www__bio">
    Founded in 2011, Few Spirits is Grain to Bottle distiller. “For
    nearly a century, Evanston, Illinois, the home of the Temperance
    Movement, was a dry city. In dire need of liquor laws that weren’t
    penned the same year as the invention of the band-aid, FEW’s master
    distiller overturned century-old prohibition laws to become
    Evanston’s first distiller of grain spirits within the city limits.
    Alas!”
	</p>
	<div class="www__product">
    <h4 class="item__name www__name">
      Bourbon
    </h4>
    <p class="item__description www__description">
      Gold Medal Beverage Tasting Institute,<br>Silver Medal San Francisco
      World Spirits Competition
    </p>
  </div>
	<div class="www__product">
    <h4 class="item__name www__name">
      Rye
    </h4>
    <p class="item__description www__description">
      Craft Whiskey of the Year, Whiskey Advocate Gold Medal, World
      Whiskey Awards<br>Gold Medal, Beverage Tasting Institute Gold
      Medal, International Whiskey Competition
    </p>
  </div>