	<h2 class="title www__title">
    <img src="/assets/images/www__title_2019-02-06-thursday.png" 
       class="title_image" 
       alt="Thursday's Winter Whiskey Week Featured Distillery">
	</h2>
	<h3 class="www__distillery">    
    <a href="https://catoctincreekdistilling.com/" 
        class="link link_www-distillery" 
        rel="noreferrer noopener" 
        target="_blank" 
        title="Catoctin Creek's website'">
      <img src="/assets/images/www__distillery_2019-02-06-catoctin-creek.png" 
         class="title_image" 
         alt="Catoctin Creek">
    </a>
  </h3>
  <p class="paragraph www__headquarters">
    (Purcelville, VA)
  </p>
	<p class="paragraph www__bio">
    Catoctin Creek Distilling is quite possibly the most awarded
    distillery in Virginia, sourcing local grains and ingredients for
    their grain-to-bottle production. The name comes from the
    picturesque creek that flows by the distillery, the same that flows
    through Frederick County MD.
	</p>
	<div class="www__product">
    <h4 class="item__name www__name">
      Roundstone Rye
    </h4>
    <p class="item__description www__description">
      Award Winning Rye & Catoctin’s Flagship Whiskey<br>Double Gold
      Medal - NY World Wine and Spirits Competition, Gold Medal - The
      Good Food Awards, 2018
    </p>
  </div>
	<div class="www__product">
    <h4 class="item__name www__name">
      Roundstone Rye 92
    </h4>
    <p class="item__description www__description">
      Roundstone Rye matured and released and a higher proof<br>Gold
      Medal – Wizards of Whisky World Awards, 2016<br>Winner – Good Food
      Awards, 2016<br>Gold Medal – NY World Wine and Spirits
      Competition, 2015
    </p>
  </div>
	<div class="www__product">
    <h4 class="item__name www__name">
      Roundstone Rye Cask
    </h4>
    <p class="item__description www__description">
      The 116 proof rye is Catoctin Creek’s most awarded whiskey and is
      only released twice a year
    </p>
    <p class="item__description www__description">
      Double Gold Medal – San Francisco World Spirits Competition,
      2017<br>Gold Medal – Spirits Business American Whiskey Masters
      2016<br>Gold Medal and US Craft Other Grain Whiskey of the Year –
      Wizards of Whisky World Awards, 2016
    </p>
  </div>
