	<h2 class="title www__title">
    <img src="/assets/images/www__title_2019-02-08-saturday.png" 
       class="title_image" 
       alt="Saturday's Winter Whiskey Week Double Feature Distillery">
	</h2>
	<h3 class="www__distillery">    
    <a href="https://wiglewhiskey.com/" 
        class="link link_www-distillery" 
        rel="noreferrer noopener" 
        target="_blank" 
        title="Wigle Whiskey's website'">
      <img src="/assets/images/www__distillery_2019-02-08-wigle.png" 
         class="title_image" 
         alt="Wigle'">
    </a>
  </h3>
  <p class="paragraph www__headquarters">
    (Pittsburgh, PA)
  </p>
	<p class="paragraph www__bio">
    Wigle Distillery is a family owned grain-to-bottle distillery named
    after Phillip Wigle. Wigle, a PA distilling pioneer, defended his
    right to distill in a tussle with a tax collector and unwittingly
    helped spark the Whiskey Rebellion, which pitted Western
    Pennsylvania distillers against George Washington's troops. He was
    sentenced to hang for treason but was ultimately pardoned by
    Washington.
	</p>
	<div class="www__product">
    <h4 class="item__name www__name">
      Wigle Organic Rye
    </h4>
    <p class="item__description www__description">
      Paying tribute to the original American whiskey mash, Wigle uses
      Organic Monongahela Rye, which has grown throughout western PA,
      including the river valley surrounding Pittsburg for years
    </p>
    <p class="item__description www__description">
      2018 James Beard Awards Semi-Finalist<br>2018 American Craft
      Spirits Association Bronze Medal
    </p>
  </div>
	<div class="www__product">
    <h4 class="item__name www__name">
      Wigle Bourbon
    </h4>
    <p class="item__description www__description">
      Wigle’s Organic bourbon made from local and organic corn, barley,
      and wheat
    </p>
    <p class="item__description www__description">
      2018 James Beard Awards Semi-Finalist<br>10 Best Wheated Bourbons
      in the country by Distiller<br> Gold Medal by the American Craft
      Spirits Association
    </p>
  </div>
  <h3 class="www__distillery">    
    <a href="https://raggedbranch.com/" 
        class="link link_www-distillery" 
        rel="noreferrer noopener" 
        target="_blank" 
        title="Ragged Branch's website'">
      <img src="/assets/images/www__distillery_2019-02-08-ragged-branch.png" 
         class="title_image" 
         alt="Dad's Hat. Pennsylvania Rye Whiskey'">
    </a>
  </h3>
  <p class="paragraph www__headquarters">
    (Charlottesville, VA)
  </p>
	<p class="paragraph www__bio">
    Ragged Branch is a grain-to-bottle distillery in Charlottesville VA.
    Ragged Branch and Whistle Pig share the same master distiller, Dave
    Pickerell, who recently passed in November of 2018. Unlike Whistle
    Pig, Ragged Branch gave Pickerell the resources to distill all
    spirits, rather than source whiskeys as Whistle Pig does.
	</p>
	<div class="www__product">
    <h4 class="item__name www__name">
      Rye Bourbon
    </h4>
  </div>
	<div class="www__product">
    <h4 class="item__name www__name">
      Wheat Bourbon
    </h4>
  </div>
