	<h2 class="title www__title">
    <img src="/assets/images/www__title_2019-02-05-wednesday.png" 
       class="title_image" 
       alt="Wednesday's Winter Whiskey Week Featured Distillery">
	</h2>
	<h3 class="www__distillery">    
    <a href="https://smoothambler.com/" 
        class="link link_www-distillery" 
        rel="noreferrer noopener" 
        target="_blank" 
        title="Smooth Ambler's website'">
      <img src="/assets/images/www__distillery_2019-02-05-smooth-ambler.png" 
         class="title_image" 
         alt="Smooth Ambler Spirits">
    </a>
  </h3>
  <p class="paragraph www__headquarters">
    (Greenbrier County, WV)
  </p>
	<p class="paragraph www__bio">
    Smooth Ambler sourced whiskeys distilled in TN & IN, while waiting
    for their own distilled spirits to mature fully. Smooth Ambler
    released its first fully grain-to-bottle whiskey in 2018, ‘Big Level
    Bourbon.’
	</p>
	<div class="www__product">
    <h4 class="item__name www__name">
      Old Scout Whiskey
    </h4>
    <p class="item__description www__description">
      Blend of 5 YO Bourbon and 9 YO bourbon sourced from IN and
      TN<br>Ultimate Spirits Challenge 2017 winner: 86 points Ultimate
      Spirits<br>Challenge 2018 winner: 91 points
    </p>
  </div>
	<div class="www__product">
    <h4 class="item__name www__name">
      Contradiction Bourbon
    </h4>
    <p class="item__description www__description">
      Blend of Distilled Wheat Whiskey and Sourced Bourbon<br>World
      Whiskey Awards: Gold Medal<br>Ultimate Spirits Challenge: 96
      points<br>Whisky Advocate: 90 points<br>Spirits of the Americas
      Awards: Bronze Medal
    </p>
  </div>
	<div class="www__product">
    <h4 class="item__name www__name">
      Big Level Bourbon
    </h4>
    <p class="item__description www__description">
      First Whiskey entirely created at Smooth Ambler Distillery, and
      age 5+ years. Bourbon using wheat in place of what would typically
      be rye.
    </p>
  </div>
