	<h2 class="title www__title">
    <img src="/assets/images/www__title_2019-02-03-monday.png" 
       class="title_image" 
       alt="Monday's Winter Whiskey Week Featured Distillery">
	</h2>
	<h3 class="www__distillery">    
    <a href="https://sagamorespirit.com/spirits/signature-rye-whiskey/" class="link link_www-distillery" rel="noreferrer noopener" target="_blank" title="Sagamore Spirit's website'">
    <img src="/assets/images/www__distillery_2019-02-03-sagamore.png" 
       class="title_image" 
       alt="Sagamore Spirit. Established 1909">
    </a>
  </h3>
  <p class="paragraph www__headquarters">
    (Baltimore, MD)
  </p>
	<p class="paragraph www__bio">
    Maryland-style rye makers use Indiana-sourced Whiskey for their two
    different proprietary mash bills for us. Once the whiskey is aged,
    it’s shipped to Baltimore distillery in barrels and our distilling
    team proofs it with Sagamore Farm spring water, before hand-bottling
    and labeling each one.
	</p>
	<div class="www__product">
    <h4 class="item__name www__name">
      Rye
    </h4>
    <p class="item__description www__description">
      Sagamores's flagship spirit
    </p>
  </div>
	<div class="www__product">
    <h4 class="item__name www__name">
      Port Finish Rye
    </h4>
    <p class="item__description www__description">
      Rye aged 6 additional months in port casks
    </p>
  </div>
	<div class="www__product">
    <h4 class="item__name www__name">
      Cask Strength Rye
    </h4>
    <p class="item__description www__description">
      Double Gold Medal, San Francisco World Spirits Competition
    </p>
  </div>
