/* Facade block */
.facade {}
.facade__base {
	background-image: url(/assets/images/facade__base.png);
	background-origin: border-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
}
.facade__base_featured-spirits {
	background-image: 
		url(/assets/images/facade__base.png), 
		url(/assets/images/facade__base_featured-spirits.png);
}