/* Facade block */
.facade {
}
.facade__base {
    display: block;
	height: 100%;
	position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.facade__featured-spirits {
    display: none;
	position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.facade__featured-spirits_lit {
	display: block;
}