/* Facade block */
.facade {
}
.facade__base {
    display: block;
	height: 100%;
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.facade__layer {
    display: none;
	position: absolute;
    height: 100%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.facade__logo_lit {
	display: block;
}
.facade__breakfast_lit {
	display: block;
}
.facade__daytime_lit {
	display: block;
}
.facade__signature-cocktails_lit {
	display: block;
}
.facade__signature-cocktails-hot_lit {
	display: block;
}
.facade__spirits_lit {
	display: block;
}
.facade__features_lit {
	display: block;
}
.facade__info_lit {
	display: block;
}
.facade__contact_lit {
	display: block;
}