/* Features block */
.features {
	max-width: 600px;
}
.features__title {
	display: none;
	font-size: 2em;
	padding: 0 .5em 1em;
}
.features__item {
	padding: 0 1em .125em;
}
.features__name {
	padding: 0 0 .775em;
}
.features__paragraph {
	padding: 0 0 1em;
	text-align: justify;
}