/* Featured block */
.featured {}
.featured__title {
	box-sizing: border-box;
	font-size: 2em;
	padding: 0 .5em 1em;
	text-align: center;
    width: 100%;
}
.featured__item {
	padding: 0 1em .125em;
}
.featured__name {
	padding: 0 0 .775em;
}
.featured__paragraph {
	padding: 0 0 1em;
	text-align: justify;
}