/* Features block */
.features {
	max-width: 600px;
}
.features__title {
	box-sizing: border-box;
	font-size: 2em;
	padding: 0 .5em 1em;
	text-align: center;
    width: 100%;
}
.features__item {
	padding: 0 1em .125em;
}
.features__name {
	padding: 0 0 .775em;
}
.features__paragraph {
	padding: 0 0 1em;
	text-align: justify;
}