/* Header block */
.header {
}
.header__facade {
	background-color: #141314;
	background: linear-gradient(#141314 99%, #14131400);
	height: 100%;
	margin: 0 auto;
	overflow-x: hidden;
	position: relative;
	width: 100%;
	z-index: -1;
}
.header__nav {
	position: absolute;
	bottom: 0;
	width: 100vw;
}