/* Info block */
.info {
	display: flex;
	align-items: center;
	flex-direction: column;
	max-width: 600px;
}
.info__about {
	flex: 1;
	order: 3;
	margin: 0 auto;
	max-width: 435px;
}
.info__title {
	box-sizing: border-box;
	flex: 1;
	order: 1;
	padding: 0 .5em 1em;
}
.info__paragraphs {
	padding: 0 1em .125em;
}
.info__paragraph {
	padding: 0 0 1em;
}
.info__map {
	flex: 1;
	order: 2;
	height: 30vh;
	width: 30vh;
	max-width: 400px;
	max-height: 400px;
}
.info__map_placeholder {
	background-color: #666;
	height: 30vh;
	width: 30vh;
	max-width: 400px;
	max-height: 400px;
}
.info__bam-logo {
	margin: 0 auto;
	padding: 0 0 20px;
	width: 30vh;
	max-width: 100vw;
	max-height: 400px;
}
.info__administration {
	display: flex;
	flex-direction: column;
	flex: 1;
	order: 4;
	margin: 0 auto;
	max-width: 240px;
}
.info__phone {
	padding: 0 1em 0 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	font-family: letter-gothic-std, Trebuchet MS, monospace;
	font-style: normal;
}
.info__phone-label {
	flex: 1 0 auto;
	font-weight: 700;
}
.info__phone-number {
	flex: 0 0 auto;
}
.info__hours-label {
	font-family: letter-gothic-std, Trebuchet MS, monospace;
	font-style: normal;
	font-weight: 700;
	padding: 1em 1em 0 0;
	text-align: center;
	text-decoration: underline;
}
.info__hours {
	font-family: letter-gothic-std, Trebuchet MS, monospace;
	font-style: normal;
	padding: .75em 1em 0 0;
}