/**
 * Elements 
 */
body {
	background-color: #141314;
	color: #fff;
	font-size: 16px;
}

/**
 * Header
 */
.header {
	background-color: #141314;
	position: fixed;
	text-align: center;
	width: 100vw;
	z-index: 20;
}
.header-logo {
// 	background-color: #141314;
	box-sizing: border-box;
	display: inline-block;
	padding: 10px 0;
}
.header-logo img {
	height: 4vh;
	min-height: 30px;
	
}

/**
 * Building Hero 
 */
.building-hero {
	background-color: #141314;
	background-image: url(/assets/images/building-facade-trimmed.png);
	background-origin: border-box;
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 25vh;
	max-height: 25vh;
}

/**
 * Content container
 */
.content-container {
	padding-top: 38vh;
}

/**
 * Menu
 */
.menu-section {
	display: flex;
	flex-flow: row wrap;
}
@media all and (max-width: 1020px) {
	.menu-section {
		flex-flow: column;
	}
	.menu-item {
		flex: 1 0 100vw;
	}
}
.menu-item {
	display: flex;
	flex: 1;
	font-family: letter-gothic-std, Trebuchet MS, monospace;
	font-weight: 400;
	font-style: normal;
	justify-content: space-between;
	padding: 0  2em;
}
.menu-item ~ .menu-item {
	padding: 1em 2em 1em 2em;
}
.menu-item h3 {
	font-size: 1.5em;
}
.menu-item.drink {
	font-size: .8em;
	padding: .25em 2.5em; // mathed the padding from the font-size change
}
.item-price p {

}
.item-deets {
	flex: 2;
}
.item-name {
	text-transform: uppercase;
}
.item-description {
	font-family: montserrat,sans-serif;
	font-weight: 200;
	font-style: italic;
}
.item-price {
	flex: 1;
	text-align: right;
}
.item-price p {
}
.item-upgrade {
}
.price-description {
	font-family: montserrat,sans-serif;
	font-weight: 200;
	font-size: 1rem;
	font-style: italic;
}
.cents {
	font-size: .6em;
	vertical-align: top;
}

/**
 * Footer
 */
.footer img {
	width: 100vw;
}