/* Menu block */
.menu {
	display: flex;
	flex-direction: column;
	padding-right: calc(6px + 2em);
	padding-left: calc(6px + 2em);
	max-width: 600px;
}
.menu__heading {
}
.menu__heading_bordered {
	margin-top: -2.8em;
}
.menu__heading_centered {
	text-align: center;
}
.menu__title {
}
.menu__title_bordered {
	background-color: #131413;
	display: inline-block;
	padding: 0 0.3em;
}
.menu__item {
	margin: 1em 0;
	padding: 0 0;
}
.menu__collection {
	box-sizing: border-box;
}
.menu__collection_border_round-rect {
	border: 6px double #ffffff;
	border-radius: 2em;
	margin: 3em calc(-6px - 2em) 1em;
	padding: 1em 2em;
}