/* Menu block */
.menu {
	display: flex;
	flex-direction: column;
	max-width: 600px;
}
.menu__heading {
}
.menu__header {
	display: inline-block;
	font-family: adage-script-jf, sans-serif;
	font-size: 2.5em;
	font-style: normal;
	font-weight: 400;
	padding: 1em 1em 0 .2em;
	transform: rotate(-10deg);
	transform-origin: bottom left;
}
.menu__item {
	padding: 0 1em;
}
.menu__item ~ .menu__item {
	padding-top: 1em;
}
.menu__collection {
	padding-top: 1em;
}