/* Menu block */
.menu {
	display: flex;
	flex-direction: column;
	padding-right: calc(6px + 2em);
	padding-left: calc(6px + 2em);
	max-width: 600px;
}
.menu__heading {
}
.menu__heading_centered {
	text-align: center;
}
.menu__title {
}
.menu__morning-things,
.menu__daytime-things,
.menu__signature-cocktails,
.menu__signature-cocktails-hot,
.menu__featured-spirits {
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 2.5em;
	width: 60%;
}
@media (max-width: 600px) {
	.menu__morning-things,
	.menu__daytime-things,
	.menu__signature-cocktails,
	.menu__signature-cocktails-hot,
	.menu__featured-spirits {
		margin-left: auto;
		margin-right: auto;
		padding-bottom: .5em;
		width: 100%;
	}
}
.menu__breakfast-sandwiches,
.menu__breakfast-paninis {
	margin-top: -9vh;
	margin-left: auto;
	margin-right: auto;
	max-width: 400px;
}
.menu__paninis,
.menu__wraps,
.menu__salads,
.menu__whiskey,
.menu__scotch,
.menu__gin,
.menu__vodka {
	margin-top: 0;
	position: relative;
	left: -3em;
	width: calc(100% + 3em);
	z-index: -1;
}
@media (max-width: 600px) {
	.menu__paninis,
	.menu__wraps,
	.menu__salads,
	.menu__whiskey,
	.menu__scotch,
	.menu__gin,
	.menu__vodka {
		margin-top: 0;
		position: static;
		width: 100%;
	}
}
.menu__title_image {
	width: 100%;
}
.menu__title_aligned_left {
	margin-left: -1em;
}
.menu__title_border_round-rect {
	background-color: #141314;
	display: inline-block;
	padding: 0 0.3em 0;
}
.menu__title_border_top {
	background-color: #141314;
	display: inline-block;
	margin-left: -1em;
	padding: 0 0.3em 0 1em;
}
.menu__item {
	margin: 1em 0;
	padding: 0 0;
}
.menu__item_spacing_tight {
	margin: .5em 0;
}
.menu__heading + .menu__collection {
	margin-top: 0;
}
.menu__collection {
	box-sizing: border-box;
	margin-top: 4em;
}
.menu__collection_border_round-rect {
	border: 4px double #ffffff;
	border-radius: 2em;
	margin: 9vh calc(-4px - 2em) 2.5em;
	padding: 1em 2em;
}
.menu__collection_border_top {
	border-top: 4px double #fff;
	margin: 3em calc(-4px - 2em) 1em;
	padding: 1em 2em 0;
}