/* Nav block */
.nav {
}
.nav__list {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	list-style: none;
}
.nav__item {
	color: #fff;
	font-family: montserrat,sans-serif;
	font-style: normal;
	font-weight: 200;
}
.nav__link {
	font-size: 2em;
	text-transform: uppercase;
}
@media (max-width: 710px) {
	.nav__list {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: start;
	}
	.nav__item {
		background-color: #999999;
		background-color: #33333310;
		border-bottom: solid 3px #fff;
		padding: .8em;
		text-align: center;
		width: 100vw;
	}
	.nav__link {
	}
}