/* Nav block */
.nav {
}
.nav__list {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	list-style: none;
}
.nav__item {
	color: #fff;
	font-family: montserrat,sans-serif;
	font-style: normal;
	font-weight: 200;
}
.nav__link {
	font-size: 2em;
	text-transform: uppercase;
}