/* Nav block */
.nav {
	padding-bottom: 20px;
	overflow: scroll;
}
.nav__list {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	list-style: none;
}
.nav__item {
	color: #fff;
	font-family: montserrat,sans-serif;
	font-style: normal;
	font-weight: 200;
}
.nav__item ~ .nav__item {
	margin-left: 2em;
}
.nav__link {
	text-transform: uppercase;
}