/* Page block */
.page {
	background-color: #141314;
	color: #fff;
	font-size: 16px;	
}
.page__header {
	position: fixed;
	height: 50vh;
	width: 100vw;
}
.page__menu {
	padding-top: 50vh;
	margin: 0 auto -50vh;
}
.page__info {
	padding-top: calc(50vh + 3em);
	margin: 0 auto -50vh;
}
.page__features {
	padding-top: calc(50vh + 3em);
	margin: 0 auto -50vh;
}
.page__footer {
	padding-top: 50vh;
	margin: 0 auto -50vh;
}