/* Title block */
.title {
	font-family: letter-gothic-std, Trebuchet MS, monospace;
	font-style: normal;
    font-weight: 700;
    line-height: 1.125;
}
.title_size_page {
	font-size: 2em;
}
.title_size_featured {
	font-size: 1.125em;
}