<!doctype html>
<html>
<head>
<title>Corner Tavern & Café</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="stylesheet" href="https://use.typekit.net/tss3usf.css">
</head>
<body class="page">
<header class="header page__header">
	{% include header.html %}
</header>
<main class="menu page__menu" id="menu">
	{% include menu.html %}
</main> <!-- End 'menu' section -->
<main class="info page__info" id="info">
	{% include info.html %}
</main> <!-- End 'info' section -->
<main class="featured page__featured" id="featured">
	{% include featured.html %}
</main> <!-- End 'info' section -->
<footer class="footer page__footer">
	{% include footer.html %}
</footer>
<script src="/assets/js/jquery-3.3.1.js"></script>
<script>
$( document ).ready(function() {
	var $facade = $( ".facade__base" );
	var $featuredSpirits = $( "#featuredSpirits" );
	var featuredSpiritsBounds = {};
	featuredSpiritsBounds.top = $featuredSpirits.offset().top;
	featuredSpiritsBounds.bottom = $featuredSpirits.height() + featuredSpiritsBounds.top;
	$featuredSpirits.click(function(event) {
		$facade.toggleClass( "facade__base_featured-spirits" );
	});
	
	/* Calculate initial viewport size */
	var viewport = {};
	viewport.top = $( window ).scrollTop() + ($( window ).height() / 2.);
	viewport.bottom = $( window ).height() + viewport.top - ($( window ).height() / 2.);
	
	/* Update viewport size if window changes size */
	$( window ).resize(function( event ) {
		viewport.top = $( window ).scrollTop() + ($( window ).height() / 2.);
		viewport.bottom = $( window ).height() + viewport.top - ($( window ).height() / 2.);
		console.log("Viewport changed: " + JSON.stringify(viewport, null, 2));
	});
	
	/* Handle scroll events */
	$( window ).scroll(function( event ) {
		if ((
		     (featuredSpiritsBounds.top < viewport.bottom) && 
		     (featuredSpiritsBounds.top > viewport.top)
		    ) || (
		     (featuredSpiritsBounds.bottom > viewport.top) &&
		     (featuredSpiritsBounds.bottom < viewport.bottom)
		    )) {
			$facade.addClass( "facade__base_featured-spirits" );
			     
		} else {
			$facade.removeClass( "facade__base_featured-spirits" );
		}
	});
	
});
</script>
</body>
</html>