<!doctype html>
<html>
<head>
<title>Corner Tavern & Café</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/assets/css/styles.css">
<link rel="stylesheet" href="https://use.typekit.net/tss3usf.css">
</head>
<body class="page">
<header class="header page__header">
	<div class="facade header__facade">
		<div class="facade__base"></div>
	</div>
	<nav class="nav header__nav">
		{% include nav.html %}
	</nav>
</header>
<main class="menu page__menu" id="menu">
	{% include menu.html %}
</main> <!-- End 'menu' section -->
<main class="info page__info" id="info">
	{% include info.html %}
</main> <!-- End 'info' section -->
<main class="featured page__featured" id="featured">
	{% include featured.html %}
</main> <!-- End 'info' section -->
<footer class="footer page__footer">
	{% include footer.html %}
</footer>
</body>
</html>